/// Set the font-size and line-height
@mixin setTypo ($fsize, $lheight) {
  font-size: $fsize;
  line-height: $lheight;
}

/// Flexbox
@mixin flexBox ($dir: '', $just: '', $al: '') {
  display: flex;
  @if $dir { flex-direction: $dir; }
  @if $just { justify-content: $just; }
  @if $al { align-items: $al; }
}

/// Add a drop shadow to an element
///
/// @param {*} $col color 
/// @param {*} $x x direction 
/// @param {*} $y y direction 
/// @param {*} $blur blur 
///
@mixin d-shadow ($col, $x: 0, $y: 0, $blur: .5rem) {
  filter: drop-shadow($x $y $blur $col);
}
